
body {
    background-color: lavender;
    background-image: url('images/polygon_background.jpg');
}

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin-bottom: 15px;
}

.img {
    background-image: url(images/jessieProfile.PNG);
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    max-width: 60%;
    margin: auto;
    border: 10px solid white;
}
.imgContainer {
    height: 155%;
    width: 81%;
    text-align: center;
    margin: auto;
}
.leftColumn {
    width: 50vw;
    height: 40vh;
    display: inline-block;
}
@media only screen and (max-width: 500px) {
    .img {
        background-image: url('images/jessieProfile.PNG');
        background-size: 100%;
        height: 100%;
        background-repeat: no-repeat;
        max-width: 100%;
    }
    .imgContainer {
        height: 54vh;
        width: 80vw;
        text-align: center;
        margin: auto;
    }
    .leftColumn {
        width: 80vw;
        height: 57vh;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

